

{% extends './index.html' %}

{% block titulo %}
Agregar venta
{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/venta.css') }}">
{% endblock %}

{% block contenido %}
<script>
  let prods=[]
              {% for producto in productos %}
              prods.push({
                id:{{producto[0]}},
                codigo:{{producto[1]}},
                nombre:'{{producto[2]}}',
                stock:{{producto[3]}},
                descripcion:{{producto[4]}},
                color:{{producto[5]}},
                medida:{{producto[6]}},
                imagen:{{producto[7]}},
                precioventa:{{producto[8]}},
                preciocompra:{{producto[9]}},
              

                categoria:'{{producto[10]}}'
              })
              {% endfor %}
</script>
<form class>
 
   
  
  <!--Main Navigation-->
 
  <!--Main layout-->
  <main style="margin-top: 0px;">
    <div class="container pt-4"></div>
    <div class="container">
      <div class="col py-3">
        <h4 class="text-start">Punto de Venta</h4>
      </div>
      <form  action="{{url_for('guardar_venta')}}" method="POST">
      <form class="form-inline">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
                <label class="sr-only" for="inlineFormInputName2">Cliente*</label>
          </div>
            
          
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-people-fill"></i></span>
            </div>

            <select name="cliente" id="cliente">
              {% for cliente in clientes %}
              <option value= '{{cliente[0]}}'>{{cliente[1]}} {{cliente[2]}} {{cliente[3]}}</option>
              {% endfor %}
            </select>
          
                
        </div>
         
        </div>
        <div class="w-100"></div>
        <br />  
        <dvi class="row"> 

          <div class="col-auto">
              <label class="sr-only" for="inlineFormInputName2">Fecha de venta:
                
              </label>
          </div>

          <div class="col-5">
            <label class="sr-only" for="inlineFormInputName2">Fecha de entrega:
              
            </label>
        </div>

  
          <div class="col-auto">
          
            <button type="button" class="btn btn-success">
              <i class="bi bi-cart-check-fill text-light  "></i> Realizar Venta
            </button>
            
          </div>

          <div class="col-auto">
          
            <button type="button" class="btn btn-dark">
              <i class="bi bi-file-earmark-check-fill"></i> <a  href="{{url_for('formulario_agregar_cotizacion')}}" >Realizar Cotización</a>
            </button>
            
          </div>
        
      </form>
    </div>

      
     

      <div class="container">

        <div class="col py-3">
          <h4 class="text-start">Medidad (cm)</h4>
        </div>

        <form class="row g-3 mt -3">
          
          <div class="col-1">
            <label class="form-check-label" for="nameInput">Ancho:</label>
          
          </div>
          <div class="col-2">
            <input type="text" class="form-control" id="inlineFormInput" placeholder="Ancho">
          </div>

          <div class="col-1">
            <label class="form-check-label" for="nameInput">Largo:</label>
           
          </div>
          <div class="col-2">
            <input type="text" class="form-control" id="inlineFormInput" placeholder="Largo">
          </div>


          <div class="row g-3 align-items-center">
            
            <div class="col-auto">
                  <label class="sr-only" for="inlineFormInputName2"><h3>Perfil</h3></label>
            </div>

            <div class="col-4">
              <label class="sr-only" for="inlineFormInputName2"><h3>Color</h3></label>
            </div>
            
            <div class="row g-3 align-items-center">
              <div class="col-2">
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-tag-fill"></i></span>
                      </div>
                      <select name="perfil" id="Perfil">
                        {% for producto in productos %}
                        {% if (producto[10] == "Perfil") %}
                        <option value= '{{producto[0]}}'>{{producto[2]}} </option>
                        {% endif %}
                        {% endfor %}
                      </select>
                  </div>
              </div>
              
            
              <div class="col-2">
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-tag-fill"></i></span>
                      </div>
                      <select name="perfil" id="Perfil">
                        {% for producto in productos %}
                        {% if (producto[10] == "Perfil") %}
                        <option value= '{{producto[0]}}'>{{producto[5]}} </option>
                        {% endif %}
                        {% endfor %}
                      </select>
                  </div>
              </div>

  
          

          <div class="row g-3 align-items-center">
            <div class="col-auto">
                  <label class="sr-only" for="inlineFormInputName2"><h3>Vidrio</h3></label>
            </div>
              
            
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-people-fill"></i></span>
              </div>
  
              <select name="vidrio" id="vidrio">
                {% for producto in productos %}
                {% if (producto[10] == "Vidrio") %}
                <option value= '{{producto[0]}}'>{{producto[2]}} </option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
                  
          </div>


          <div class="row g-3 align-items-center">
            <div class="col-auto">
                  <label class="sr-only" for="inlineFormInputName2"><h3>María Luisa</h3></label>
            </div>
              
            
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-people-fill"></i></span>
              </div>
  
              <select name="M/L" id="M/L">
                {% for producto in productos %}
                {% if (producto[10] == "M/L") %}
                <option value= '{{producto[0]}}'>{{producto[2]}} </option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
                  
          </div>

          <div class="row g-3 align-items-center">
            <div class="col-auto">
                  <label class="sr-only" for="inlineFormInputName2"><h3>Soporte</h3></label>
            </div>
              
            
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-people-fill"></i></span>
              </div>
  
              <select name="vidrio" id="vidrio">
                {% for producto in productos %}
                {% if (producto[10] == "Soporte") %}
                <option value= '{{producto[0]}}'>{{producto[2]}} </option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
                  
          </div>
                  
          

            
          <div class="col-1">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox"> Vertical
            </label>
          </div>

          <div class="col-2">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox"> Horizontal
            </label>
          </div>
           
          </div>
          
          
            
          
             
       

          

          <div class="w-100"></div>
          <br />  

        
          <dvi class="row">
            
    
        
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">

             <div class="col py-1">
              <h6 class="text-start">Precio de la Venta</h6>
             </div>

            <button type="button" class="btn btn-success">
              <i class="bi bi-plus text-light"></i> Agregar
            </button>
            <button type="button" class="btn btn-danger">
              <i class="bi bi-trash text-light"></i> Eliminar
            </button>
            
            
            
          </div>

          
          <div class="container">  
            <h6>Detalle de Venta</h6>  
            <div class="row ">  
                <div class="col-md-1 py-2" style="background-color:#808080">Código</div>  
                <div class="col-md-1 py-2" style="background-color:#808080">Cant.</div>  
                <div class="col-md-2 py-2" style="background-color:#808080">Producto</div>  
                <div class="col-md-3 py-2" style="background-color:#808080">Descripción</div>  
                <div class="col-md-2 py-2" style="background-color:#808080">Precio Unit.</div>  
                <div class="col-md-1 py-2" style="background-color:#808080">Total</div>  
                <div class="col-md-2 py-2" style="background-color:#808080">Acciones</div>  
                <div class="w-100"></div>
                 <br /> 
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <h6>Total de Venta:</h6>
                </div>
                 
            </div>
          </div>
           

      

          <div class="form-floating col-6">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Observasiones</label>
          </div>

          <div class="w-100"></div>
          <br /> 
         
        </form>
      </div>
      
    
    
    
  </main>
  <!--Main layout-->
</form>
{% endblock %}