
{% extends './index.html' %}
{% block title %}{% endblock %}


  {% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/venta.css') }}">
{% endblock %}

{% block contenido %}
<main style="margin-top: 0px;">
    <div class="container pt-6">
   
        <div class="row"> 

            <div class="col-6">
                <div class="p-1 mb-2 bg-dark text-white"><h3>Nuevo Usuario</h3></div>
                <form  action="{{url_for('guardar_usuario')}}" method="POST">
                    
    
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Ingresar nombres" name="nombre" id="nombre">
                    </div>
    
                    
    
                    
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Ingresar apellidos" name="apellido" id="apellido" >
                    </div>
            
                    
                   
                    
            
                   
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-lines-fill"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Ingresar Usuario" name="usuario" id="usuario">
                    </div>
                  
            
                
                  
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><i class="bi bi-lock-fill"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Ingresar Contraseña" name="password" id="password" >
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><i class="bi bi-toggles"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Ingresar estado" name="estado" id="estado">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><i class="bi bi-people-fill"></i></span>
                        </div>
                        <select name="rol" id="rol">
                            {% for rol in roles %}
                            <option value= '{{rol[0]}}'>{{rol[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="row mt-4">
                        <div class="col">
                            <label for="foto">Foto Usuario</label>
                            <input type="file" class="form-control-file" accept="image/*" required  name="imagen" id="imagen">
                        </div>
                    </div>
                  
                    
    
                  
                    
                    <br><br>
                                    
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                            <button type="button" class="btn btn-secondary ">
                                <a href="{{url_for('usuarios')}}" class="bi bi-box-arrow-left text-light"></a> Salir
                            </button>

                            <button type="button" class="btn btn-secondary">
                                <i class="bi bi-trash text-light"></i> Limpiar
                            </button>

                                    
                            <button type="submit" class="btn btn-success">
                                <i class="bi bi-save-fill text-light"></i> Guardar Usuario
                            </button>
                            
                        </div>
                   
                 
                  
                  
    
                   
                </form>
            </div>

        </div>
        
    </div>
</main>
        



{% endblock %}
