
{% extends 'public/index.html' %}

{% block contenido %}
{{miData}}
<div id="resultado" class="text-center">
    <h4 class="text-center">Resultado <hr></h4>
    {% if (miData) %}    <!--Si existe-->
    <section>
        <p>
            Nombre y Apellido: <strong>{{ miData.nombres }} {{ miData.aPaterno }} </strong>               
        </p>
        <p>
            Email: <strong>{{ miData.email }}</strong>            
        </p>
        
    </section>
        
    {% else %}
        <p>No hay resultados para la busqueda:
            <strong class="busq colorCrimson"> {{ busqueda }}</strong>
        </p>
    {% endif %}

</div>

{% endblock %}