
{% extends './index.html' %}
{% block title %}{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grid</title>
  {% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/productos.css') }}">
{% endblock %}
</head>
{% block body %}
<body>
    <div class="container-fluid">
        <div class="row"> 

            <div class="col-6">
                <div class="p-1 mb-2 bg-dark text-white"><h3>Nuevo Cliente</h3></div>
                <form method="post" action="nuevo.php">
                    
    
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Ingresar nombres" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
    
                    
    
                    
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Ingresar apellidos" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
            
                    
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><i class="bi bi-telephone-fill"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Ingresar teléfono" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    
            
                   
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-fill"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Ingresar Email" aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><i class="bi bi-geo-alt-fill"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Ingresar Dirección" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                  
            
                
                  
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><i class="bi bi-gender-ambiguous"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Ingresar Genero" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
    
                    
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1"><i class="bi bi-calendar-event-fill"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Ingresar Fecha de Nacimiento" aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                    <br><br>
                                    
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                    <button type="button" class="btn btn-secondary ">
                        <i class="bi bi-box-arrow-left text-light"></i> Salir
                    </button>

                    <button type="button" class="btn btn-secondary">
                        <i class="bi bi-trash text-light"></i> Limpiar
                    </button>

                    <button type="button" class="btn btn-success">
                        <i class="bi bi-save-fill text-light"></i> Guardar Producto
                    </button>
                    
                    
                    </div>
    
                   
                </form>
            </div>

        </div>
        
    </div>
        


</body>
{% endblock %}
</html>