body {
    background-color: #fbfbfb;
    }
    @media (min-width: 991.98px) {
    main {
    padding-left: 240px;
    }
    }
    
    /* Sidebar */
    .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
    
    
    }
    
    @media (max-width: 991.98px) {
    .sidebar {
    width: 100%;
    }
    }
    .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    }
    
    .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }

    .avatar{
        max-width: 35px;
    }

    .list-group i {
        
        color:white;
    }

    .btn-lg {
        padding: 13px 16px;
    }
    .btnn {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 8px 10px;
        font-size: 10px;
        cursor: pointer;
      }
      
      /* Darker background on mouse-over */
      .btnn:hover {
        background-color: RoyalBlue;
      }

      .content-section {
        min-height: 2000px;
      }
      
      .sidebar-section {
        position: absolute;
        height: 100%;
        width: 100%;
      }
      
      .sidebar-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* Position the items */
      }
      
      .widget{
          padding: 0 15px;
          margin: 15px 0;
      }
      
      .make-me-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0; 
      }
      
      /* Ignore This, just coloring */
      
      
      article {
        background: #f1f1f1;
        border-radius: 12px;
        padding: 25px;
      }
      
      .title-section, .content-section, .sidebar-section {
        background: #fff;
      }
      
      .title-section {
        text-align: center;
        padding: 50px 15px;
        margin-bottom: 30px;
      }
      
      .content-section h2 {
        text-align: center;
        margin: 0;
        padding-top: 200px;
      }
      
      .sidebar-item {
        text-align: center;
      }
      .sidebar-item h3 {
        background: gold;
        max-width: 100%;
        margin: 0 auto;
        padding: 50px 0 100px;
        border-bottom: solid 1px #fff;
      }

      #contenedor {
     
        height: 700px;
      }
      
      #naranja {
        border: 2px solid gray;
        height: 600px;
      }
      
      #verde {
      
        height: 600px;
      }
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");:root{--header-height: 3rem;--nav-width: 68px;--first-color: #4723D9;--first-color-light: #AFA5D9;--white-color: #F7F6FB;--body-font: 'Nunito', sans-serif;--normal-font-size: 1rem;--z-fixed: 100}*,::before,::after{box-sizing: border-box}body{position: relative;margin: var(--header-height) 0 0 0;padding: 0 1rem;font-family: var(--body-font);font-size: var(--normal-font-size);transition: .5s}a{text-decoration: none}.header{width: 100%;height: var(--header-height);position: fixed;top: 0;left: 0;display: flex;align-items: center;justify-content: space-between;padding: 0 1rem;background-color: var(--white-color);z-index: var(--z-fixed);transition: .5s}.header_toggle{color: var(--first-color);font-size: 1.5rem;cursor: pointer}.header_img{width: 35px;height: 35px;display: flex;justify-content: center;border-radius: 50%;overflow: hidden}.header_img img{width: 40px}.l-navbar{position: fixed;top: 0;left: -30%;width: var(--nav-width);height: 100vh;background-color: var(--first-color);padding: .5rem 1rem 0 0;transition: .5s;z-index: var(--z-fixed)}.nav{height: 100%;display: flex;flex-direction: column;justify-content: space-between;overflow: hidden}.nav_logo, .nav_link{display: grid;grid-template-columns: max-content max-content;align-items: center;column-gap: 1rem;padding: .5rem 0 .5rem 1.5rem}.nav_logo{margin-bottom: 2rem}.nav_logo-icon{font-size: 1.25rem;color: var(--white-color)}.nav_logo-name{color: var(--white-color);font-weight: 700}.nav_link{position: relative;color: var(--first-color-light);margin-bottom: 1.5rem;transition: .3s}.nav_link:hover{color: var(--white-color)}.nav_icon{font-size: 1.25rem}.show{left: 0}.body-pd{padding-left: calc(var(--nav-width) + 1rem)}.active{color: var(--white-color)}.active::before{content: '';position: absolute;left: 0;width: 2px;height: 32px;background-color: var(--white-color)}.height-100{height:100vh}@media screen and (min-width: 768px){body{margin: calc(var(--header-height) + 1rem) 0 0 0;padding-left: calc(var(--nav-width) + 2rem)}.header{height: calc(var(--header-height) + 1rem);padding: 0 2rem 0 calc(var(--nav-width) + 2rem)}.header_img{width: 40px;height: 40px}.header_img img{width: 45px}.l-navbar{left: 0;padding: 1rem 1rem 0 0}.show{width: calc(var(--nav-width) + 156px)}.body-pd{padding-left: calc(var(--nav-width) + 188px)}}